/* ==========================================================================
   #FOOTER NAV
   ========================================================================== */
   
.c-footer-nav {
  list-style-type: none;
  display: flex;
  justify-content: center;
  gap: 1rem;
  font-size: 75%;
}