// -----------------------------------------------------------------------------
// This file contains all @font-face declarations, if any.
// -----------------------------------------------------------------------------

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $heading-font-stack;
  font-weight: normal;
  line-height: normal;
}
